<div>
  <h2> Cart</h2>

<mat-grid-list  list cols="1" rowHeight="1:1">
  <mat-grid-tile *ngFor="let product of cartWithProducts">
    <div>
      <img src="{{product.cover}}" />
    </div>
    <div>
      <ul class="product-details">
        <li><b>Title:</b>{{product.title}}</li>
        <li> <b>Quantity:</b>{{product.quantity}}</li>
        <li><b>Price: </b>{{product.price}} $</li>
        <li><b>Amount: </b>{{product.amount}}$</li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-divider></mat-divider>
</mat-grid-list>
</div>


<div class="total" *ngIf="cartWithProducts.length !== 0">
  <h3> Total: {{total}} $</h3>
  <button mat-raised-button color="primary" >BUY</button>

</div>
