

h2 {
  text-align: center;
}
.mat-grid-list {
  width: 70vh;

  .mat-grid-tile-content {
    border: 1px dotted purple;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;

    .product-details {
      list-style-type: none
    }
  }
}
.total {
  border: 1px dotted purple;
  background-color: #fff;
  position: fixed;
  left: 55%;
  top: 100%;
  width: 73vh;
  height: 18vh;
  margin-top: -9.5em;
  text-align: center;
  padding: 20px;
}
