
<h2>Products</h2>

<mat-grid-list  list cols="3" rowHeight="2:5">
  <mat-grid-tile *ngFor="let game of games">
    <div>
      <img class="cover" src="{{game.cover}}" />
    </div>
    <div>
      <ul class="product-details">
        <li><b>Title:</b> {{game.title}}</li>
        <li><b>Price:</b> {{game.price}} $</li>
        <li>
          <button mat-raised-button color="primary" (click)="addGameToCart(game)">ADD TO CART</button>
        </li>
      </ul>
    </div>
    <mat-divider></mat-divider>

  </mat-grid-tile>

</mat-grid-list>

