h2 {
  text-align: center;
}
.mat-grid-list {
  width: 100vh;
  animation-name: example;


  .mat-grid-tile-content {
    border: 1px dotted purple;
    display: flex;
    flex-direction: column;

  .cover {
      height: 200px;
    }

    .product-details {
      list-style-type: none !important;
      padding-left: 5px;

      .mat-button {
        padding-top: 20px;
      }
    }
  }
}
